.mainWrapper {
  position: relative;
  z-index: 200;
  background: #000000;
  margin-bottom: clamp(400px, 44vh, 510px);
  box-shadow: 0 40px 80px rgba(0, 0, 0, 1);
}

@media (max-width: 991px) {
  .mainWrapper {
    margin-bottom: 0;
  }
}
